<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout</title>

    <!-- 폰트어썸 불러오기 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- toastr 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>

    <link rel="stylesheet" href="/global.css">
    <script src="/global.js"></script>
</head>
<body>

<link href="https://cdn.jsdelivr.net/npm/daisyui@4.0.8/dist/full.min.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.tailwindcss.com"></script>

<div class="navbar bg-base-100">
    <div class="flex-1">
        <a class="btn btn-ghost text-xl">
            <a href="/" class="btn btn-ghost fa-solid fa-cloud" style="color: #ff8ab9;">
                Cloud Monologue
            </a>
        </a>
    </div>
    <div class="flex-none gap-2">
        <div tabindex="0" role="button">
            <a href="/member/login" class="btn btn-ghost fa-solid fa-cloud" style="color: #ff8ab9;">Login</a>
        </div>
    </div>
</div>

<th:block layout:fragment="content"></th:block>

</body>
</html>