<html layout:decorate="~{global/layout}" lang="en">

<div layout:fragment="content" class="flex justify-center">
    <form method="post" onsubmit="submitWriteForm(this); return false;"
          class="flex flex-col gap-5 justify-center">
        <p>이것은 임의의 질문</p>

        <textarea type="text" name="body" id="input-body" placeholder="Write down your answer"
                  class="textarea textarea-bordered textarea-warning textarea-lg w-full"></textarea>

        <button type="submit" class="btn btn-wide btn-outline btn-warning">

            Save This Monologue
        </button>
    </form>

    <script>
        function submitWriteForm(form) {
            const inputBody = form.body;

            inputBody.value = inputBody.value.trim();

            const body = inputBody.value;

            if (body.length === 0) {
                alert('You did not answer yet');
                inputBody.focus();
                return;
            }

            form.submit();
        }
    </script>
</div>
</html>