<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Play</title>
</head>
<body>
    <form method="post" onsubmit="submitWriteForm(this); return false;"
          style="display: flex; flex-direction: column; gap:20px; max-width:500px;">
        <p>이것은 임의의 질문</p>

        <input type="text" name="body" id="input-body" placeholder="Write down your answer">

        <button type="submit">
            Save This Monologue
        </button>
    </form>

    <script>
        function submitWriteForm(form) {
            const inputBody = form.body;

            inputBody.value = inputBody.value.trim();

            const body = inputBody.value;

            if (body.length === 0) {
                alert('You did not answer yet');
                inputBody.focus();
                return;
            }

            form.submit();
        }
    </script>
</body>
</html>