<html layout:decorate="~{global/layout}" lang="en">

<div layout:fragment="content">
    <h1 class="flex justify-center text-5xl py-5">
        <a href="/">Cloud Monologue</a>
    </h1>
    <ul class="flex gap-12 justify-center">
        <li class="text-2xl"><a href="/monologue/play">Make my monologue</a></li>
        <li class="text-2xl"><a href="/monologue/mine">My Monologues List</a></li>
        <li class="text-2xl"><a href="/member/join">SIGNUP</a></li>
        <li class="text-2xl"><a href="/member/login">LOGIN</a></li>
        <li class="text-2xl"><a href="/member/logout">LOGOUT</a></li>
    </ul>
</div>
</html>